/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mobile-drawer {
  z-index: 999999 !important;
}


/* Force all MUI popper/portal content below drawer */
.MuiPopover-root,
.MuiPopper-root,
.MuiDialog-root,
.MuiMenu-root,
.MuiModal-root {
  z-index: 80000 !important;
}

.MuiPaper-root {
  z-index: 80000 !important;
}
